<nav>
  <a routerLink="/">
    <img src="media/04.png" class="icon" />
  </a>
  <a routerLink="/Movies">
    <img src="media/03.png" class="icon" />Movies
  </a>
  <a routerLink="/Series">
    <img src="media/02.png" class="icon" />Series
  </a>
</nav>
<section>
  <header>
    <h1>Welcome To Mohammed's Media Watch List Registry </h1>
    <h1>My Media List </h1>
    <p class="description">In this registry I will be Keeping track of my media list.</p>
    <p class="description">Direction: the medias will be added by filing the form or can be removed by clicking remove button.</p>
  </header>
  <router-outlet></router-outlet>
</section>
