<header
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{medium}}</h2>
    <div>{{ mediaItems | categoryList }}</div>
</header>
<section>
  <mw-media-item
    [ngClass]="{'medium-movies': mediaItem.medium==='Movies', 'medium-series':mediaItem.medium==='Series'}"
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"></mw-media-item>
</section>
<footer>
  <a routerLink="/add">
    <img src="media/01.png" class="icon" />
  </a>
  <div>
    <p class="blocktext"><img src="https://user-images.githubusercontent.com/23619819/28747883-c613df44-7477-11e7-9890-df49cbcf69d3.JPG" class="icon"/>Copyright &copy; 2017, Mohammed Kemal<img src="https://user-images.githubusercontent.com/23619819/28747883-c613df44-7477-11e7-9890-df49cbcf69d3.JPG" class="icon"/></p>
      <div class="footer-icons ">
        <div class="linkedin">
          <a href="mailto:mohakemal9@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
          <a href="https://https://www.linkedin.com/in/moh-kemal-3b8591136/" target="_blank"><i class="fa fa-linkedin-square fa-3x"> </i></a>
          <a href="https://https://https://github.com/mrkem598" target="_blank"><i class="fa fa-github-square fa-3x"> </i></a>
          <a href="https://www.facebook.com " target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
          <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
        </div>
      </div>
  </div>
</footer>
